<div class="carPage">
        <br><h3>Select Car View Details</h3>
<div class="allsections">
    <div class="section"> 
            <div class="container">
                <br>
                <img class="car" src="/assets/img/car5.jpg">
                <div class="sec">
                    <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                    <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                </div>
            </div>
            <h2>BMW X6</h2>
        </div>
        <div class="section">
            <div class="container">
                <br>
                <img class="car" src="/assets/img/car6.jpg">
                <div class="sec">
                    <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                    <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                </div>
            </div>
            <h2>Mazda 6</h2>
        </div>
        <div class="section">
            <div class="container">
                <br>
                <img class="car" src="/assets/img/car7.jpg">
                <div class="sec">
                    <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                    <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                </div>
            </div>
            <h2>BMW 7 series</h2>
         </div>
        <div class="section">
            <div class="container">
                <br>
                <img class="car" src="/assets/img/car8.jpg">
                <div class="sec">
                    <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                    <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                </div>
            </div>
            <h2>Ford Mustang</h2>
        </div>
        <div class="section"> 
                <div class="container">
                    <br>
                    <img class="car" src="/assets/img/car9.png">
                    <div class="sec">
                        <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                        <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                    </div>
                </div>
                <h2>Toyota Corolla</h2>
            </div>
            <div class="section">
                <div class="container">
                    <br>
                    <img class="car" src="/assets/img/car10.jpg">
                    <div class="sec">
                        <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                        <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                    </div>
                </div>
                <h2>Honda Civic</h2>
            </div>
            <div class="section">
                <div class="container">
                    <br>
                    <img class="car" src="/assets/img/car11.jpg">
                    <div class="sec">
                        <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                        <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                    </div>
                </div>
                <h2>Audi A5</h2>
             </div>
            <div class="section">
                <div class="container">
                    <br>
                    <img class="car" src="/assets/img/car12.jpg">
                    <div class="sec">
                        <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                        <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                    </div>
                </div>
                <h2>Bens C-Class</h2>
            </div>
 
    </div>
</div>

