      <div class="slider-container">
          <div class="slider-control left inactive"></div>
          <div class="slider-control right"></div>
          <ul class="slider-pagi"></ul>
          <div class="slider">
            <div class="slide slide-0 active">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading" style="font-family: 'Open Sans Cond ensed', sans-serif;">WRVS Services</h2>
                  <p class="slide__text-desc" style="font-family: 'Open Sans Condensed', sans-serif;"> Westminster Vehicle Rental System provides high quality service to the cuctomer by renting the best vehicles at an  affordable price. We mainly rent cars and motorbikes from luxury to economy. Customer can easily check availability of vehicles from our website and book vehicles.</p>
                  <!-- <a class="slide__text-link" style="font-family: 'Open Sans Condensed', sans-serif;">Learn More</a> -->
                </div>
              </div>
            </div>
            <div class="slide slide-1 ">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading" style="font-family: 'Open Sans Condensed', sans-serif;">Rent a Car</h2>
                  <p class="slide__text-desc" style="font-family: 'Open Sans Condensed', sans-serif;">We provide cars from luxury to economy. All the car prices are affordable. Customer can get all the details about car from the Car Fleet. Availability of cars display when customer make enquiry.</p>
                  <a href="/car" class="slide__text-link" style="font-family: 'Open Sans Condensed', sans-serif;">Car Fleet</a>
                </div>
              </div>
            </div>
            <div class="slide slide-2">
              <div class="slide__bg"></div>
              <div class="slide__content">
                <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                  <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                </svg>
                <div class="slide__text">
                  <h2 class="slide__text-heading" style="font-family: 'Open Sans Condensed', sans-serif;">Rent a Motorbike</h2>
                  <p class="slide__text-desc" style="font-family: 'Open Sans Condensed', sans-serif;">We provide motorbikes such as sports bikes, clutch bikes, auto bikes. All the motorbikes prices are affordable. Customer can get all the details about motorbike from the Motorbike Fleet. Availability of motorbikes display when customer make enquiry.</p>
                  <a href="/motorbike" class="slide__text-link" style="font-family: 'Open Sans Condensed', sans-serif;">Motorbike Fleet</a>
                </div>
              </div>
            </div>
            <div class="slide slide-3">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                      <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                        <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                      </svg>
                      <div class="slide__text">
                        <h2 class="slide__text-heading" style="font-family: 'Open Sans Condensed', sans-serif;">Check Availability</h2>
                        <p class="slide__text-desc" style="font-family: 'Open Sans Condensed', sans-serif;">Customer can easily check available vehicles from the Westminster Vehicle Rental System at anytime by entering locations and dates. Customer gets a list of vehicles available on specific dates and locations.</p>
                        <a href="/enquiry" class="slide__text-link" style="font-family: 'Open Sans Condensed', sans-serif;">Check Availability</a>
                      </div>
                    </div>
                  </div>
        </div>


<!-- <div id="slider">
        <figure>
            <img src="/assets/img/homebg.jpg" height="700px" width="1400px">
            <div class="text-block">
                    <h4>Nature</h4>
                    <p>What a beautiful sunrise</p>
                  </div>
            <img src="/assets/img/enquiry1.jpg" height="700px" width="1400px">
            <img src="/assets/img/enquiry.jpg" height="700px" width="1400px">
            <img src="/assets/img/enquiry3.jpg" height="700px" width="1400px">          
        </figure>
</div> -->

        
        
  
