<div class="motorbikePage">
<br><h3>Select Motorbike View Details</h3>
<div class="allsections">
    <div class="section"> 
        <div class="container">
            <br>
            <img class="motorbike" src="/assets/img/bike1.jpg">
            <div class="sec">
                <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
            </div>
        </div>
        <h2>Yamaha FZ</h2>
    </div>
    <div class="section">
        <div class="container">
            <br>
            <img class="motorbike" src="/assets/img/bike2.jpg">
            <div class="sec">
                <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
            </div>
        </div>
        <h2>Royal Enfield Classic 350</h2>
    </div>
    <div class="section">
        <div class="container">
            <br>
            <img class="motorbike" src="/assets/img/bike3.jpg">
            <div class="sec">
                <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
            </div>
        </div>
        <h2>CBR 250R</h2>
     </div>
    <div class="section">
        <div class="container">
            <br>
            <img class="motorbike" src="/assets/img/bike4.jpg">
            <div class="sec">
                <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
            </div>
        </div>
        <h2>Bajaj Pulsar 220 F</h2>
    </div>
    <div class="section"> 
        <div class="container">
            <br>
            <img class="motorbike" src="/assets/img/bike5.jpg">
            <div class="sec">
                <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
            </div>
        </div>
        <h2>TVS Scooty Pep</h2>
    </div>
    <div class="section">
        <div class="container">
            <br>
            <img class="motorbike" src="/assets/img/bike6.jpg">
            <div class="sec">
                <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
            </div>
        </div>
        <h2>Honda CB Hornet 160R</h2>
        </div>
        <div class="section">
            <div class="container">
                <br>
                <img class="motorbike" src="/assets/img/bike7.jpg">
                <div class="sec">
                    <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                    <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                </div>
            </div>
            <h2>Ducati 1299 Panigale</h2>
         </div>
        <div class="section">
            <div class="container">
                <br>
                <img class="motorbike" src="/assets/img/bike8.png">
                <div class="sec">
                    <div class="text"><a href ="/vehicle"><button>View Details</button></a></div>
                    <!-- <div class="text"><a href ="#"><button>Make Enquiry</button></a></div> -->
                </div>
            </div>
            <h2>Kawasaki Ninja</h2>
        </div>
    </div>
</div>
