<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/home">Westminster Vehicle Rental</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Vehicle Fleet
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/car">Car</a>
          <a class="dropdown-item" href="/motorbike">Motorbike</a> 
       </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vehicle">Vehicle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/booking">Booking</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/enquiry">Enquiry</a>
        </li>
    </ul>
  </div>
</nav> 




<!-- 
<div class="wrapper">

  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Bootstrap Sidebar</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Dummy Heading</p>
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="#">Home 1</a>
                  </li>
                  <li>
                      <a href="#">Home 2</a>
                  </li>
                  <li>
                      <a href="#">Home 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/enquiry">Enquiry</a>
          </li>
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vehicle Fleet</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="/car">Car</a>
                  </li>
                  <li>
                      <a href="/motorbike">Motorbike</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </nav>

<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Toggle Sidebar</span>
          </button>

      </div>
  </nav>
</div> -->



 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="#">
                <img src="assets/img/logo.png" alt="Logo" height="60px" width="110px">
              </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home
                    <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/enquiry">Enquiry</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Vehicle Fleet</a>
                <ul class="dropdown">
                        <li><a href="/car">Car</a></li>
                        <li><a href="/motorbike">Motorbike</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>  -->